*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family:'Poppins',sans-serif;
}
 
.footer-col p{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
    box-sizing: border-box;
    border-left: 2px solid aqua;
}

.footer-col h5{
    text: size 40px;
    text-color:
}

.footer-col li{
    border: left 2px solid aqua;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 20%;
    padding: 0 15px;
    
}


.footer-col h4{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-right: 110px;
    font-weight: 600;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: aqua;
    height: 2px;
    box-sizing: border-box;
    width: 65px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: black;
    text-decoration: none;
    font-weight: 300;
    color: rgb(32, 30, 30);
    display: block;
    transition: all 0.3s ease;
}


.footer-col ul li a:hover{
    color: rgb(32, 28, 28);
    padding-left: 8px;
}

.credit{
    text-align: center;
}

.payment{
    width: 50px;
    height: 50px;
    display: flex;
}